{% block body %}
    <nav class="navbar navbar-light bg-light">
        {% if app.user %}
            {{ app.user.email }}
            <a href="{{ path('app_logout') }}"> Se déconnecter</a>
        {% else %}
            <a href="{{ path('app_login') }}"> Se connecter</a>
        {% endif %}
        <a class="navbar-brand" href="/">Wild-Séries</a>
        <a class="navbar-brand" href="{{ path('program_index') }}">Programs List</a>
    </nav>
{% endblock %}
